#timeline-intro {
  margin-bottom: var(--gap-l);
}

#timeline-intro > h1 {
  color: var(--color-primary);

  text-align: center;
}

#timeline-intro > p {
  text-align: center;
  color: var(--color-primary);
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.timeline-text-left > .text {
  text-align: right;
}

.text,
.time {
  padding-inline: var(--gap-l);
}

.year {
  display: inline-block;
  background-color: var(--color-design);
  color: var(--color-dark);
  padding: 0.1em 1em;
  font-size: var(--font-size-s);
  font-weight: 700;
  border-radius: 1.4em;
}

.timeline-text-right > .time {
  text-align: right;
}

.text {
  padding-bottom: var(--gap-l);
  color: var(--color-primary);
}

.line {
  border-right: 1px solid var(--color-primary);
}

.round {
  width: 12px;
  height: 12px;
  background-color: var(--color-design);
  border-radius: 50%;
  margin-left: -6px;
  margin-top: 6px;
}
